.container {
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchCard {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom right, var(--lightgray-color), var(--mediumgray-color));
    border-radius: 32px;
    padding: 64px;
    margin: 100px 0px;
    box-shadow: var(--box-shadow);
}

.searchCardTitle {
    padding: 0px;
    margin: 0px;
    font-size: 3em;
}

.searchCardSearch {
    margin-top: 32px;
    width: 100%;
    max-width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.searchCardInput, .searchCardButton {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 32px;
    border: none;
    outline: none;
    font-size: 1em;
}


.searchCardInput {
    padding-left: 48px;
    width: 100%;
}

.searchCardButton {
    position: relative;
    left: -40px;
    color: white;
    background-color: var(--primary-color);
    font-weight: bold;
}

.searchIcon {
    position: relative;
    padding: 0px;
    margin: 0px;
    left: 40px;
}

.industriesGrid {
    width: 80%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 80px;
    row-gap: 64px;
}

.industriesGridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.industriesGridItemButton {
    border-radius: 100px;
    height: 64px;
    width: 64px;
    border: none;
    outline: none;
    box-shadow: var(--box-shadow-light);
    transition: 300ms ease-in-out;
}

.industriesGridItemButton:hover {
    transform: translateY(-8px);
    box-shadow: var(--box-shadow);
}

.industriesGridItemLabel {
    margin-top: 16px;
}

.footer {
}