.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    box-sizing: border-box;
    padding: 0px 16px;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--lightgray-color);
}

.logo {
    height: 48px;
}