
.root {
    margin-top: 32px;
    width: 80%;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, 360px);
    column-gap: 64px;
    row-gap: 64px;
}

.formWrapper {
    background-color: white;
    margin: 16px 0px;
    padding: 32px;
    border-radius: 32px;
    height: 320px;
    width: 320px;
    box-shadow: var(--box-shadow-light);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title {
    color: var(--primary-color);
    align-self: center;
    font-size: 2em;
}

.select, .input {
    font-size: 1.2em;
    width: 100%;
    height: 48px;
    font-weight: 500;
    border-radius: 6px;
    outline: none;
    border: solid var(--lightgray-color) 1px;
    padding: 8px;
}

.createButton,
.loginButton {
    font-size: 1.2em;
    height: 48px;
    font-weight: 500;
    color: white;
    border-radius: 6px;
    border: none;
    outline: none;
}

.loginButton {
    margin: 8px 0px;
    background-color: var(--primary-color);
}

.createButton {
    margin: 16px 0px 0px;
    background-color: var(--secondary-color);
    width: 60%;
    align-self: center;
}

.forgot {
    font-size: 0.9em;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
    align-self: center;
    margin: 8px 0px 16px;
}

.divider {
    border-top: solid 1px var(--lightgray-color);
}

.paintIcon {
     display: block;
     margin: auto;
     width: 30%;
     width: 30%;
}



.label {
    margin: auto;
}